.badge{
    float: right;
    background-color: gray;
    color: white
}
.box:hover{
    background-color: #0c4d6c;
    color:white;
}
.box{
    color: #0c4d6c;
}
/* .badge:hover{
    color:#0c4d6c;
    background-color: white;
} */
.details{
    padding-left: 15%;
}
.add{
    border: 2px solid#e34f30;
    color:#e34f30;
    background-color: white;

}
 .add:hover{
   background-color: #e34f30;
    color:white;
} 