
.loginform{
    width: 85%;
     height: calc(3.25rem + 2px); 
}
.ftxt{
    width:85%;
}
.text{
    background-color:#0c4d6c;
    color:white;
    /* height:120%; */
    margin-left: 6%; 
}
.btntxt1{
    color:#0c4d6c;
    height:120%;
    border:2px solid #0c4d6c;
    font-size: 15px;
}
.txt{color: #0c4d6c;}
.submit{
    background-color:#0c4d6c;
    color:white;
}
.loginpage{
    padding-left: 10%;
    padding-top:3%
}
.btntxt1:hover{
    background-color: #0c4d6c;
    color: white
}
/* .bg{
    background: #DDE1E6;
} */
.bg{
    padding-top: 4%;
    padding-bottom: 4%;
    background: #DDE1E6;
   
}
.heading{
    color:grey;
    padding-left: 10%;
}
.maintxt{
    width: 85%;
    height: 150%;
}
.ftext{
width:85%;
height: calc(3.25rem + 2px); 
}